@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --foreground: #000000;
  --background: #ffffff;
  --primary: #ce6401;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.text-primary{
  @apply text-[#ce6401]
}
.bg-primary{
  @apply bg-[#ce6401]
} 

.border-primary{
  @apply border-[#ce6401]
}
.btn-primary {
  @apply bg-[#ce6401] hover:bg-[#ce4c01] text-white py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-disabled {
  @apply bg-gray-600 text-black py-2 px-4 rounded transition-all;
}

.mtop {
  @apply mt-5
}

.mbot {
  @apply mb-5
}




@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-moving-gradient {
  background-size: 200% 200%;
  animation: movingGradient 3s ease infinite;
 }
